ux-tabs {
  display: block;

  .ux-tabs--tab {
    display: flex;
    align-items: center;

    &.ux-tabs--tab-selected {
      background-color: #00000011;
      background-color: var(--aurelia-ux--tabs-selected-background, #00000011);
    }
  }
}
